<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Hello Worlds!</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <div id="vueapp">
    <h1 class="title">Hello Worldss!</h1>
    <div class="container-fluid">
    <template v-for="inp in inputs">
      <div class="row">
        <div class="col">
          {{ inp.name }}
        </div>
        <div class="col input-group mb-3">
          <input type="text" class="form-control" v-bind:placeholder="inp.value" v-model="inp.value">
        </div>
      </div>
    </template>

      <div class="row">
        <div class="col">
          Preferred Currency:
        </div>
        <div class="col input-group mb-3">
          <input type="text" class="form-control" placeholder="BTC" v-model="inputs.prefcurrency.value">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-2 checkbox" v-for="algo in pools[poolname]">
          <label class="checkbox-inline">
            <input :name="algo" type="checkbox" v-bind:value="algo" v-model="checkedAlgos"> {{ algo }}
          </label>
          <!-- <label :for="algo">{{ algo }}</label>
          <input type="checkbox"> Check me out
        -->
        </div>
      </div>

      <div class="row">
        <div class="col">
          Poolname:
        </div>
        <div class="col">
          <select class="form-control" v-model="poolname">
          <option disabled value="">
            Please Select One
          </option>
          <option v-for="pool in poolnames">
            {{ pool }}
          </option>
        </select>
        </div>
      </div>






      <div class="row special">
        <div class="col-sm">
          <!-- <a v-if="inputs.gpunum.value > 0 && poolname != '' && checkedAlgos != ''" id="downloadClass" href=""> -->
            <!-- <button v-on:click="downloadBat('start' + poolname + '.bat', 'text/plain', poolname)" class="button" href="">Download</button> -->
            <button v-on:click="startblah" class="button">Download</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    // You can also require other files to run in this process
    require('./vuemain.js')
  </script>
  <!--
  <pre>
    {{ inputs | json }}
  </pre>
-->
</body>

</html>
